.base {
    width: 80%;

    padding: 8px 12px;
    margin: auto;
    margin-top: 20px;
    height: 100%;
    background-color: white;
}
.page {
    height: 100%;
}
.box{
    float:left;
    padding: 5px ;
    width: 50%;
    padding-top: 0px;
}
.box1{
    float:right;
    padding: 10px ;
    width: 55%;
}
.box2{
    float:left;
    padding: 10px ;
    width: 50%;
}
.box3{
    padding: 10px ;
    width: 80%;
    float: bottom;
    margin-left: auto;
    margin-right: auto
}
.clear{
    clear:both;
}
.button {
    float:left;

}
body{
    background: url(backgroundjpg.jpg) repeat-y #fc0;

}
p{
    font-family:Tahoma, sans-serif;
    font-size:17px;
    text-align: justify;
    margin: 2px;
}
.text {
    display: grid
}